<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    <div class="sub-page-heading">
        <h2 class="sub-page-heading--header">Követelmények</h2>
    </div>
    <div class="conditions-page--container">
        <div class="conditions-page--general">
            <div class="conditions-page--wrapper">
                <h4 class="conditions-page--toggle">Általános követelmények
                    <svg fill="none"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         stroke="currentColor">
                        <path d="M9 5l7 7-7 7"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"></path>
                    </svg>
                </h4>
                <section class="conditions-page">
                    <div class="conditions-page--left">
                        <p class="conditions-page--subtitle">Általános leírás</p>
                        <p class="conditions-page--text">Az EDTK valamennyi szekciójában magyar nyelvű dolgozatokkal és
                            magyar
                            nyelvű
                            előadásokkal lehet részt venni. Külön felhívjuk a nevező hallgatók figyelmét arra, hogy a
                            plágium
                            semmilyen
                            formában nem megengedett, hivatkozás nélkül a saját alkotások sem idézhetőek (önplágium
                            tilalma).
                            Amennyiben
                            egy szerző több dolgozattal is nevez az EDTK-ra, és ezek között tartalmi átfedés van, akkor
                            szükséges a
                            másik
                            dolgozatra való hivatkozás ugyanolyan módon, mint más felhasznált irodalom esetében.</p>
                        <p class="conditions-page--text">Amennyiben ez az önhivatkozás nem történik meg, akkor az
                            plágiumnak minősül
                            és
                            kizárással jár. A saját szövegek extenzív átvétele esetében is elvárt, hogy ezek mennyisége
                            ne haladja meg
                            a
                            más hivatkozott munkák esetében is elvárt szakmai, tudományos szokásos mérleget. Amennyiben
                            a bírálók úgy
                            ítélik meg, hogy a dolgozatban jelentős mennyiségű a hivatkozott saját szöveg extenzív
                            átvétele, akkor az
                            önplágium esetének fennállását a Plágiumbíráló Munkabizottság fogja mérlegelni és
                            értékelni.</p>
                    </div>
                    <div class="conditions-page--right">
                        <p class="conditions-page--text">Konkrét előírások, amelyeket követned kell:</p>
                        <ul class="conditions-page--list">
                            <li class="conditions-page--list__item">Betűtípus: Times New Roman</li>
                            <li class="conditions-page--list__item">Betűméret: 12</li>
                            <li class="conditions-page--list__item">Sorköz: 1,5</li>
                            <li class="conditions-page--list__item">Margó: 2,5</li>
                            <li class="conditions-page--list__item">Rendezés: sorkizárt</li>
                            <li class="conditions-page--list__item">A pályamunkákat PDF formátumban kell feltölteni.
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="conditions-page--wrapper">
                <h4 class="conditions-page--toggle">Kivonat követelmények
                    <svg fill="none"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         stroke="currentColor">
                        <path d="M9 5l7 7-7 7"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"></path>
                    </svg>
                </h4>
                <section class="conditions-page">
                    <div class="conditions-page--left">
                        <p class="conditions-page--subtitle">Általános leírás</p>
                        <p class="conditions-page--text">A kivonat egy tájékoztató jellegű, rövid összefoglaló, ami a
                            dolgozat
                            tartalmát
                            vázolja fel. Ezt a regisztrációs felület erre kijelölt mezőjébe kell bemásolni. Amennyiben a
                            kivonat
                            terjedelme nem felel meg a követelményeknek, a rendszer azt automatikusan visszadobja.
                            Amennyiben több
                            dolgozattal nevezel be, mindegyik dolgozathoz tartozó kivonatot és dolgozatcímet külön kell
                            bemásolnod.</p>
                    </div>
                    <div class="conditions-page--right">
                        <p class="conditions-page--text">Tartalmi követelmények:</p>
                        <ul class="conditions-page--list">
                            <li class="conditions-page--list__item">dolgozat címe</li>
                            <li class="conditions-page--list__item">dolgozat témája</li>
                            <li class="conditions-page--list__item">dolgozat tartalmi összefoglalója</li>
                        </ul>
                        <p class="conditions-page--text">Formai követelmények:</p>
                        <ul class="conditions-page--list">
                            <li class="conditions-page--list__item">terjedelem legfeljebb 1100-1200 leütés</li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="conditions-page--wrapper">
                <h4 class="conditions-page--toggle">Témavezetői igazolás
                    <svg fill="none"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg"
                         stroke="currentColor">
                        <path d="M9 5l7 7-7 7"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"></path>
                    </svg>
                </h4>
                <section class="conditions-page">
                    <div class="conditions-page--full">
                        <p class="conditions-page--subtitle">Általános leírás</p>
                        <p class="conditions-page--text">A témavezetői igazolást minden dolgozat esetén fel kell tölteni
                            a
                            regisztrációs
                            felületre, a meghatározott határidőig, PDF formátumban. Fontos, hogy az igazolást a
                            témavezető, vagy adott
                            esetben a témavezetők aláírása hitelesíti, annak hiányában nem tudjuk azt elfogadni.</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="subsection">
            <div class="subsection__divider"></div>
            <h5 class="subsection__heading">Szekció-specifikus követelmények</h5>
        </div>
        <div class="conditions-page--sections">
            {{#each sections }}
            <div class="accordion">
                <div class="accordion--q"><button type="button">{{ name }}<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                    <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                </svg></button></div>
                <div class="accordion--a">
                    <div>
                        <p class="conditions-page--sections__general">
                            Szekciófelelős: {{ representative.lastName }} {{ representative.firstName }}, elérhetősége: {{ representative.email }}
                        </p>
                        <p class="conditions-page--sections__general">
                            {{ description }}
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{> footer }}

</div>
</body>
</html>