<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    {{> popup }}

    <div class="modal" id="profile-modal">
        <div class="modal--background"></div>
        <div class="modal--content">
            <h4 class="modal--content__title"></h4>
            <h5 class="modal--content__presenter">Bemutatja: <span class="__content"></span></h5>
            <h6 class="modal--content__coauthors">Társszerzői: <span class="__content"></span></h6>
            <p class="modal--content__abstract"></p>
        </div>
    </div>

    <div class="profile">
        <div class="sub-page-heading">
            <h2 class="sub-page-heading--header">Kedves {{ user.firstName }},</h2>
        </div>
        <div class="profile--about">
            <div class="profile--about__card">
                <div class="profile--about__card--icon">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path>
                    </svg>
                </div>
                <p class="profile--about__card--text">
                    {{ user.institution }}
                </p>
            </div>
            <div class="profile--about__card">
                <div class="profile--about__card--icon">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                </div>
                <p class="profile--about__card--text">
                    {{ user.position }}
                </p>
            </div>
            <div class="profile--about__card">
                <div class="profile--about__card--icon">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                        <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                    </svg>
                </div>
                <p class="profile--about__card--text">
                    {{ user.academicDegree }}
                </p>
            </div>
        </div>
        <div class="profile--todo">
            <h3>Tennivalók a konferencia kezdetéig</h3>
            <ul class="profile--todo__list">
                <li class="profile--todo__item">
					<span class="input-checkbox__control">
							<svg viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg"
                                 aria-hidden="true"
                                 focusable="false"
                                 style="
                                     {{#if todoStatus }}
                                     transform: scale(1) !important
                                     {{/if}}
                                         ">
										<path d="M1.73 12.91l6.37 6.37L22.79 4.59"
                                              stroke-width="3"
                                              fill="none"
                                              stroke="currentColor">
										</path>
							</svg>
					</span>
                    {{#ifb (compare 'PRESENTER' '==' user.role ) }}
                        <p class="profile--todo__listtext">Feltölteni a kész dolgozatokat</p>
                    {{/ifb}}
                    {{#ifb (compare 'ADMIN' '==' user.role ) }}
                        <p class="profile--todo__listtext">Felügyelni a konferenciát</p>
                    {{/ifb}}
                    {{#ifb (compare 'REPRESENTATIVE' '==' user.role ) }}
                        <p class="profile--todo__listtext">Elbírálni a dolgozatokat</p>
                    {{/ifb}}
                    {{#ifb (compare 'GUEST' '==' user.role ) }}
                        <p class="profile--todo__listtext">Türelmesen várakozni</p>
                    {{/ifb}}
                </li>
            </ul>
        </div>
        {{#ifb (compare 'PRESENTER' '==' user.role) }}
            <div class="profile--uploaded">
                <h3>Jelenleg feltöltött dolgozatok</h3>
                <div class="profile--uploaded__head profile--uploaded__head--presenter">
                    <p>Szekció</p>
                    <p>Cím</p>
                    <p>Dolgozat státusza</p>
                    <p>Feltöltött dolgozat</p>
                    <p>Dolgozat feltöltése</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                <ul class="profile--uploaded__list">
                    {{#each papers }}
                        <li class="profile--uploaded__item profile--uploaded__item--presenter">
                            <p><span class="profile--uploaded__mod">Szekció</span> {{ section.name }} </p>
                            <p><span class="profile--uploaded__mod">Cím</span>
                                <button class="profile--uploaded__btn __view-btn"
                                        data-paper="{{ id }}">{{ title }}</button>
                            </p>
                            <p><span class="profile--uploaded__mod">Státusz</span>{{ status }}</p>
                            <p><span class="profile--uploaded__mod">Feltöltött dolgozat</span>
                                {{#if doc }}
                                    <a class="profile--uploaded__btn" href="download?path={{ doc }}">Letöltés</a>
                                {{else}}
                                    <span class="profile--uploaded__item--file"><svg fill="none" stroke="currentColor"
                                                                                     viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"><path
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg> Nincs feltöltés</span>
                                {{/if}}
                            </p>
                            <form method="POST" action="uploadPaper" enctype="multipart/form-data">
                                <div class="input-file">
                                    <label for="paper{{@index}}">
                                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                        </svg>
                                        <span class="__input-text">Csatolás</span>
                                    </label>
                                    <input type="file"
                                           id="paper{{@index}}"
                                           style="margin-bottom: 0;"
                                           name="paper-file"
                                           accept=".pdf"
                                           size="51200">
                                </div>
                                <small
                                        class="input-error">
                                    <svg viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         stroke="currentColor">
                                        <path d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </small>
                                <input name="paper-id" type="hidden" value="{{ id }}">
                                <button id="paper-submit-paper{{@index}}" type="submit" class="btn btn--cta" disabled>
                                    Feltölt
                                </button>
                            </form>
                            <a href="modify?paperId={{ id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                            </svg>
                            <span>Dolgozat módosítása</span></a>
                                <a
                            {{#if doc }}
                            href="revoke?path={{ doc }}"
                            {{else}}
                                style="opacity: 0.5; cursor: not-allowed;"
                            {{/if}}>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span>Dolgozat visszavonása</span></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            {{#if missingSectionsForUser }}
                <div class="profile--new">
                    <h3>Újabb dolgozat regisztrálása</h3>
                    <div class="profile--new__upload">
                        <form action="registerPaper" method="post" class="profile--new__form">
                            <div>
                                <div class="input-dropdown">
                                    <label for="new-section">Szekció*</label><select id="new-section"
                                                                                     name="new-section"
                                                                                     required>
                                    <option value=""
                                            disabled
                                            selected></option>
                                    {{#each missingSectionsForUser }}
                                        <option value="{{ name }}">{{ name }}</option>
                                    {{/each}}
                                </select></div>
                            </div>
                            <div>
                                <div class="input-text"><input type="text"
                                                               id="new-title"
                                                               name="new-title"
                                                               value=""
                                                               required><label for="new-title">Dolgozat címe*</label>
                                </div>
                                <small class="input-error {{#if errors.title }} show {{/if}}">
                                    <svg viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         stroke="currentColor">
                                        <path d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    A cím csupán karakterekből állhat</small>
                            </div>
                            <div>
                                <div class="input-text"><input type="text"
                                                               id="new-coauthors"
                                                               name="new-coauthors"
                                                               value=""><label
                                        for="new-coauthors">Dolgozat társszerzői</label></div>
                                <small class="input-error {{#if errors.coAuthors }} show {{/if}}">
                                    <svg viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         stroke="currentColor">
                                        <path d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    A társszerzők méző csupán karakterekből állhat</small>
                            </div>
                            <div>
                                <div class="input-text">
                                    <label for="new-abstract">Absztrakt*</label>
                                    <textarea
                                            name="new-abstract"
                                            id="new-abstract"
                                            required
                                            minlength="500"
                                            maxlength="7500"></textarea>
                                    <p class="input-file--info">Angolul vagy magyarul megírt kivonat a bemutatandó
                                        dolgozathoz. A
                                        kivonat
                                        terjedelme
                                        2
                                        000 - 3 000 karakter hosszúságú, amelyben a dolgozat kidolgozói ismertetik a
                                        kutatott tematikát, a
                                        probléma
                                        relevanciáját, illetve az alkalmazott módszertanukat.</p>
                                </div>
                            </div>
                            <small class="info">
                                <svg viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     stroke="currentColor">
                                    <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                          stroke-width="2"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                * – kötelezően kitöltendő mezők</small>
                            <button class="input-button"
                                    type="submit"
                                    name="submit" value="Regisztrálás">Regisztrálás
                            </button>
                        </form>
                    </div>
                </div>
            {{/if}}
        {{/ifb}}
        {{#ifb (compare 'REPRESENTATIVE' '==' user.role)}}
            <div class="profile--uploaded">
                <h3>Jelenleg elbírálásra váró dolgozatok</h3>
                <div class="profile--uploaded__head profile--uploaded__head--rep">
                    <p>Szekció</p>
                    <p>Cím</p>
                    <p>Dolgozat információk</p>
                    <p>Dolgozat</p>
                    <p>&nbsp;</p>
                </div>
                <ul class="profile--uploaded__list">
                    {{#each papers}}
                        <li class="profile--uploaded__item profile--uploaded__item--rep">
                            <p><span class="profile--uploaded__mod">Szekció</span>{{ section.name }}</p>
                            <p><span class="profile--uploaded__mod">Cím</span>{{ title }}</p>
                            <p><span class="profile--uploaded__mod">Dolgozat információk</span>
                                <button
                                        class="profile--uploaded__btn __view-btn"
                                        data-paper="{{ id }}">Megtekintés
                                </button>
                            </p>
                            <p><span class="profile--uploaded__mod">Feltöltött dolgozat</span>
                                {{#if doc }}
                                    <a class="profile--uploaded__btn" href="download?path={{ doc }}">Letöltés</a>
                                {{else}}
                                    <span class="profile--uploaded__item--file"><svg fill="none" stroke="currentColor"
                                                                                     viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"><path
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg> Nincs feltöltés</span>
                                {{/if}}
                            </p>
                            <form>
                                <input type="hidden" name="verify-id"
                                       value="{{ id }}">
                                <div class="input-dropdown">
                                    <label for="verify-status">Státusz</label>
                                    <select
                                            id="verify-status"
                                            name="verify-status"
                                            {{#unless doc}}disabled{{/unless}}>
                                        {{#each statuses}}
                                            <option value="{{ this }}"
                                                {{#ifb (compare status '==' this)}}
                                                    selected
                                                {{/ifb}}>{{ this }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </form>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="profile--pagination">
                {{#unless onFirstPage }}
                    <a href="profile?page={{ math currPage "-" 1 }}">Előző</a>
                {{/unless}}
                {{#unless onLastPage }}
                    <a href="profile?page={{ math currPage "+" 1 }}">Következő</a>
                {{/unless}}
            </div>
        {{/ifb}}
        {{#ifb (or (compare 'GUEST' '==' user.role) (compare 'ADMIN' '==' user.role)) }}
            <div class="profile--uploaded">
                <h3>Jelenleg bejegyzett dolgozatok</h3>
                <div class="profile--uploaded__head profile--uploaded__head--rep">
                    <p>Szekció</p>
                    <p>Cím</p>
                    <p>Dolgozat információk</p>
                    <p>Dolgozat státusza</p>
                    <p>&nbsp;</p>
                </div>
                <ul class="profile--uploaded__list">
                    {{#each papers}}
                        <li class="profile--uploaded__item profile--uploaded__item--rep">
                            <p><span class="profile--uploaded__mod">Szekció</span>{{ section.name }}</p>
                            <p><span class="profile--uploaded__mod">Cím</span>{{ title }}</p>
                            <p><span class="profile--uploaded__mod">Dolgozat információk</span>
                                <button
                                        class="profile--uploaded__btn __view-btn"
                                        data-paper="{{ id }}">Megtekintés
                                </button>
                            </p>
                            <p><span class="profile--uploaded__mod">Státusz</span>{{ status }}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="profile--pagination">
                {{#unless onFirstPage }}
                    <a href="profile?page={{ math currPage "-" 1 }}">Előző</a>
                {{/unless}}
                {{#unless onLastPage }}
                    <a href="profile?page={{ math currPage "+" 1 }}">Következő</a>
                {{/unless}}
            </div>
        {{/ifb}}
        <div class="profile--links">
            <h3>Hasznos hivatkozások</h3>
            <div>
                {{#ifb (compare 'ADMIN' '==' user.role)}}
                    <a class="link" href="createsection">Szekció létrehozása</a>
                    <a class="link" href="registerrepresentative">Szekciófelelős regisztrálása</a>
                {{/ifb}}
                <a class="link" href="changepassword">Jelszó megváltoztatása</a>
                <a class="link" href="logout">Kijelentkezés</a>
            </div>
        </div>
    </div>

    <script src="./static/profile.js"></script>

    {{> footer }}

</div>
</body>
</html>